@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@font-face {
  font-family: 'earlygameboy';
  src: url('/fonts/earlygameboy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'earlygameboy', var(--font-geist-sans), sans-serif;
}

.font-early-gameboy {
  font-family: 'earlygameboy', monospace;
  font-weight: normal;
}